.yt-icon {
  --yt-icon-size: 1em;
  display: inline-block;
  position: relative;
  width: var(--yt-icon-size);
  height: var(--yt-icon-size);
  min-width: var(--yt-icon-size);
  min-height: var(--yt-icon-size);
  box-sizing: border-box;
  flex: 0 0 auto;
  vertical-align: -0.125em;
  line-height: 1;
  font-size: 1em;
  color: inherit;
  margin-inline: 0.12em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.yt-icon-lg  { --yt-icon-size: 1.5em; }
.yt-icon-xl  { --yt-icon-size: 2em; }
.yt-icon-2xl { --yt-icon-size: 2.5em; }

.yt-icon-tight { margin-inline: 0; }

.yt-icon-41 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/41.svg");
}

.yt-icon-179 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/179.svg");
}

.yt-icon-326 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/326.svg");
}

.yt-icon-327 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/327.svg");
}

.yt-accelerator {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/accelerator.svg");
}

.yt-access-time {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/access_time.svg");
}

.yt-account-box-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_box-filled.svg");
}

.yt-account-box {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_box.svg");
}

.yt-account-circle-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_circle-filled.svg");
}

.yt-account-circle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_circle.svg");
}

.yt-account-linked {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_linked.svg");
}

.yt-account-some-linked {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_some_linked.svg");
}

.yt-account-unlinked {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/account_unlinked.svg");
}

.yt-add-circle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_circle.svg");
}

.yt-add-friend {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_friend.svg");
}

.yt-add-moderator {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_moderator.svg");
}

.yt-add-photo-alternate {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_photo_alternate.svg");
}

.yt-add-to-playlist {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_to_playlist.svg");
}

.yt-add-to-queue-tail {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_to_queue_tail.svg");
}

.yt-add-to-queue {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_to_queue.svg");
}

.yt-add-video-link {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add_video_link.svg");
}

.yt-add {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/add.svg");
}

.yt-album-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/album-filled.svg");
}

.yt-album {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/album.svg");
}

.yt-align-left {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/align_left.svg");
}

.yt-answer-neither-satisfied-nor-dissatisfied {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/answer_neither_satisfied_nor_dissatisfied.svg");
}

.yt-answer-somewhat-dissatisfied {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/answer_somewhat_dissatisfied.svg");
}

.yt-answer-somewhat-satisfied {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/answer_somewhat_satisfied.svg");
}

.yt-answer-very-dissatisfied {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/answer_very_dissatisfied.svg");
}

.yt-answer-very-satisfied {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/answer_very_satisfied.svg");
}

.yt-applause {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/applause.svg");
}

.yt-apps-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/apps-filled.svg");
}

.yt-apps {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/apps.svg");
}

.yt-arrow_back {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow_back.svg");
}

.yt-arrow-chart-neutral {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow_chart_neutral.svg");
}

.yt-arrow_drop_down {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow_drop_down.svg");
}

.yt-arrow-drop-up {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow_drop_up.svg");
}

.yt-arrow-flip {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow_flip.svg");
}

.yt-arrow_forward {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow_forward.svg");
}

.yt-arrow-back {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow-back.svg");
}

.yt-arrow-drop-down {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow-drop-down.svg");
}

.yt-arrow-forward {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/arrow-forward.svg");
}

.yt-article {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/article.svg");
}

.yt-artist-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/artist-filled.svg");
}

.yt-artist {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/artist.svg");
}

.yt-audiotrack {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/audiotrack.svg");
}

.yt-auto-awesome-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/auto-awesome-filled.svg");
}

.yt-auto-awesome {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/auto-awesome.svg");
}

.yt-avatar-anonymous {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/avatar_anonymous.svg");
}

.yt-avatar-logged-out {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/avatar_logged_out.svg");
}

.yt-avatar-circle-blue {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/avatar-circle-blue.svg");
}

.yt-back {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/back.svg");
}

.yt-bar-chart-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/bar_chart-filled.svg");
}

.yt-bar-chart {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/bar_chart.svg");
}

.yt-block {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/block.svg");
}

.yt-bookmark-border {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/bookmark_border.svg");
}

.yt-bookmark-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/bookmark-filled.svg");
}

.yt-bookmark {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/bookmark.svg");
}

.yt-breaking-news-alt-1 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/breaking_news_alt_1.svg");
}

.yt-breaking-news {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/breaking_news.svg");
}

.yt-brightness-three {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/brightness_three.svg");
}

.yt-build {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/build.svg");
}

.yt-cake {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/cake.svg");
}

.yt-calendar-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/calendar-filled.svg");
}

.yt-calendar {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/calendar.svg");
}

.yt-camera-alt {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/camera_alt.svg");
}

.yt-campaign {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/campaign.svg");
}

.yt-channel-notification-preference-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/channel_notification_preference_off.svg");
}

.yt-channel-notification-preference-on {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/channel_notification_preference_on.svg");
}

.yt-chat-bubble-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chat_bubble-filled.svg");
}

.yt-chat-bubble {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chat_bubble.svg");
}

.yt-chat-off-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chat_off-filled.svg");
}

.yt-chat-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chat_off.svg");
}

.yt-check-circle-thick-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/check_circle_thick-filled.svg");
}

.yt-check-circle-thick {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/check_circle_thick.svg");
}

.yt-check-circle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/check-circle.svg");
}

.yt-check-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/check-filled.svg");
}

.yt-check {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/check.svg");
}

.yt-chevron-left {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chevron_left.svg");
}

.yt-chevron-right {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chevron_right.svg");
}

.yt-chromecast-animate-frame-1 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chromecast_animate_frame-1.svg");
}

.yt-chromecast-animate-frame-2 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chromecast_animate_frame-2.svg");
}

.yt-chromecast-animate-frame-3 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chromecast_animate_frame-3.svg");
}

.yt-chromecast-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chromecast-filled.svg");
}

.yt-chromecast {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/chromecast.svg");
}

.yt-clarify {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/clarify.svg");
}

.yt-close {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/close.svg");
}

.yt-cloud-upload {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/cloud_upload.svg");
}

.yt-collapse {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/collapse.svg");
}

.yt-collections {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/collections.svg");
}

.yt-color-lens {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/color_lens.svg");
}

.yt-colored-gaming-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/colored_gaming_logo.svg");
}

.yt-comment-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/comment-filled.svg");
}

.yt-comment {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/comment.svg");
}

.yt-consent-shield {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/consent_shield.svg");
}

.yt-contact-support {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/contact_support.svg");
}

.yt-content-cut-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/content_cut-filled.svg");
}

.yt-content-cut {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/content_cut.svg");
}

.yt-conversations {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/conversations.svg");
}

.yt-copy {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/copy.svg");
}

.yt-course-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/course-filled.svg");
}

.yt-course {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/course.svg");
}

.yt-creation-live {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creation_live.svg");
}

.yt-creation-post-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creation_post-filled.svg");
}

.yt-creation-post {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creation_post.svg");
}

.yt-creation-upload-red {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creation_upload_red.svg");
}

.yt-creation-upload {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creation_upload.svg");
}

.yt-creator-metadata-monetization-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creator_metadata_monetization_off.svg");
}

.yt-creator-metadata-monetization-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creator_metadata_monetization-filled.svg");
}

.yt-creator-metadata-monetization {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creator_metadata_monetization.svg");
}

.yt-creator-studio-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creator_studio-filled.svg");
}

.yt-creator-studio {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/creator_studio.svg");
}

.yt-credit-card-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/credit_card-filled.svg");
}

.yt-credit-card {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/credit_card.svg");
}

.yt-dark-theme-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dark_theme-filled.svg");
}

.yt-dark-theme {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dark_theme.svg");
}

.yt-delete-sweep {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/delete_sweep.svg");
}

.yt-delete-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/delete-filled.svg");
}

.yt-delete {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/delete.svg");
}

.yt-dislike-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dislike_outline.svg");
}

.yt-dislike-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dislike-filled.svg");
}

.yt-dislike {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dislike.svg");
}

.yt-dismissal {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dismissal.svg");
}

.yt-dogfood {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/dogfood.svg");
}

.yt-done-all-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/done_all-filled.svg");
}

.yt-done-all {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/done_all.svg");
}

.yt-down-arrow-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/down_arrow-filled.svg");
}

.yt-down-arrow {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/down_arrow.svg");
}

.yt-drag-handle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/drag_handle.svg");
}

.yt-edit {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/edit.svg");
}

.yt-email-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/email-filled.svg");
}

.yt-email {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/email.svg");
}

.yt-emoji-activities-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_activities-filled.svg");
}

.yt-emoji-activities {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_activities.svg");
}

.yt-emoji-custom {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_custom.svg");
}

.yt-emoji-flags {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_flags.svg");
}

.yt-emoji-food {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_food.svg");
}

.yt-emoji-nature {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_nature.svg");
}

.yt-emoji-objects {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_objects.svg");
}

.yt-emoji-people {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_people.svg");
}

.yt-emoji-recent {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_recent.svg");
}

.yt-emoji-sponsorships {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_sponsorships.svg");
}

.yt-emoji-symbols {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_symbols.svg");
}

.yt-emoji-travel {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji_travel.svg");
}

.yt-emoji {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/emoji.svg");
}

.yt-error-black {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/error_black.svg");
}

.yt-error-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/error_outline.svg");
}

.yt-error-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/error-filled.svg");
}

.yt-error {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/error.svg");
}

.yt-event {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/event.svg");
}

.yt-exit-app {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/exit_app.svg");
}

.yt-exit-to-app {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/exit_to_app.svg");
}

.yt-expand-less {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/expand-less.svg");
}

.yt-expand-more {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/expand-more.svg");
}

.yt-expand {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/expand.svg");
}

.yt-explore-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/explore-filled.svg");
}

.yt-explore {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/explore.svg");
}

.yt-external-link {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/external_link.svg");
}

.yt-fact-check {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fact_check.svg");
}

.yt-fashion-logo-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fashion_logo-filled.svg");
}

.yt-fashion-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fashion_logo.svg");
}

.yt-fast-rewind {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fast_rewind.svg");
}

.yt-feedback {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/feedback.svg");
}

.yt-fill-dollar-sign-heart-12 {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fill_dollar_sign_heart_12.svg");
}

.yt-filter-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/filter-filled.svg");
}

.yt-filter {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/filter.svg");
}

.yt-find-in-page {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/find_in_page.svg");
}

.yt-first-page-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/first_page-filled.svg");
}

.yt-first-page {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/first_page.svg");
}

.yt-flag-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/flag_outline.svg");
}

.yt-flag-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/flag-filled.svg");
}

.yt-flag {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/flag.svg");
}

.yt-folder-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/folder-filled.svg");
}

.yt-folder {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/folder.svg");
}

.yt-forum-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/forum-filled.svg");
}

.yt-forum {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/forum.svg");
}

.yt-full-heart-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/full_heart-filled.svg");
}

.yt-full-heart {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/full_heart.svg");
}

.yt-fullscreen-exit {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fullscreen_exit.svg");
}

.yt-fullscreen {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/fullscreen.svg");
}

.yt-g-translate {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/g_translate.svg");
}

.yt-gaming-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/gaming_logo.svg");
}

.yt-gif {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/gif.svg");
}

.yt-google-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/google_logo.svg");
}

.yt-google-play-games {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/google_play_games.svg");
}

.yt-google {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/google.svg");
}

.yt-groups {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/groups.svg");
}

.yt-guide-close {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/guide_close.svg");
}

.yt-happy {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/happy.svg");
}

.yt-help-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/help_outline.svg");
}

.yt-help {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/help.svg");
}

.yt-highlight-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/highlight_off.svg");
}

.yt-hourglass {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/hourglass.svg");
}

.yt-image {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/image.svg");
}

.yt-info-circle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/info_circle.svg");
}

.yt-info_outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/info_outline.svg");
}

.yt-info-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/info-outline.svg");
}

.yt-info {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/info.svg");
}

.yt-insert-chart-outlined {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/insert_chart_outlined.svg");
}

.yt-insert-chart {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/insert_chart.svg");
}

.yt-insert-photo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/insert_photo.svg");
}

.yt-insights {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/insights.svg");
}

.yt-invite-only-mode-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/invite_only_mode_off.svg");
}

.yt-invite-only-mode {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/invite_only_mode.svg");
}

.yt-keep-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/keep_off.svg");
}

.yt-keep {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/keep.svg");
}

.yt-keyboard {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/keyboard.svg");
}

.yt-language {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/language.svg");
}

.yt-last-page {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/last_page.svg");
}

.yt-launch {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/launch.svg");
}

.yt-library-add {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/library_add.svg");
}

.yt-library-music {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/library_music.svg");
}

.yt-library-remove {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/library_remove.svg");
}

.yt-like-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/like_outline.svg");
}

.yt-like {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/like.svg");
}

.yt-likes-playlist {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/likes_playlist.svg");
}

.yt-link {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/link.svg");
}

.yt-live-unlisted {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/live_unlisted.svg");
}

.yt-live {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/live.svg");
}

.yt-local-mall {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/local_mall.svg");
}

.yt-local-offer {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/local_offer.svg");
}

.yt-location-pin {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/location_pin.svg");
}

.yt-lock-clock {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/lock_clock.svg");
}

.yt-lock-open {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/lock_open.svg");
}

.yt-lock {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/lock.svg");
}

.yt-loop-one {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/loop_one.svg");
}

.yt-loop {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/loop.svg");
}

.yt-manual-record {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/manual-record.svg");
}

.yt-maximize {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/maximize.svg");
}

.yt-meh {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/meh.svg");
}

.yt-members-only-mode-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/members_only_mode_off.svg");
}

.yt-members-only-mode {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/members_only_mode.svg");
}

.yt-membership-post-purchase {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/membership_post_purchase.svg");
}

.yt-membership-pre-purchase {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/membership_pre_purchase.svg");
}

.yt-memberships {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/memberships.svg");
}

.yt-menu {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/menu.svg");
}

.yt-message {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/message.svg");
}

.yt-microphone-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/microphone_off.svg");
}

.yt-microphone-on {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/microphone_on.svg");
}

.yt-minimize {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/minimize.svg");
}

.yt-mix {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/mix.svg");
}

.yt-mobile-portrait {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/mobile_portrait.svg");
}

.yt-monetization-on {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/monetization_on.svg");
}

.yt-money-fill-jpy {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/money_fill_jpy.svg");
}

.yt-money-fill-more-arrow {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/money_fill_more_arrow.svg");
}

.yt-money-fill-shopping-bag {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/money_fill_shopping_bag.svg");
}

.yt-money-fill-store {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/money_fill_store.svg");
}

.yt-money-fill {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/money_fill.svg");
}

.yt-money-heart {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/money_heart.svg");
}

.yt-more-chevron {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/more_chevron.svg");
}

.yt-more-horiz {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/more_horiz.svg");
}

.yt-more-vert {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/more_vert.svg");
}

.yt-more {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/more.svg");
}

.yt-movies {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/movies.svg");
}

.yt-music-explicit-badge {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_explicit_badge.svg");
}

.yt-music-miniplayer {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_miniplayer.svg");
}

.yt-music-new-release {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_new_release.svg");
}

.yt-music-note {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_note.svg");
}

.yt-music-player-page {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_player_page.svg");
}

.yt-music-repeat-all {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_repeat_all.svg");
}

.yt-music-repeat-one {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_repeat_one.svg");
}

.yt-music-shuffle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_shuffle.svg");
}

.yt-music-video {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music_video.svg");
}

.yt-music {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/music.svg");
}

.yt-my-channel {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/my_channel.svg");
}

.yt-my-videos {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/my_videos.svg");
}

.yt-new-release {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/new_release.svg");
}

.yt-not-interested {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/not_interested.svg");
}

.yt-notifications-active {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/notifications_active.svg");
}

.yt-notifications-done-checkmark {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/notifications_done_checkmark.svg");
}

.yt-notifications-none {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/notifications_none.svg");
}

.yt-notifications-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/notifications_off.svg");
}

.yt-notifications {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/notifications.svg");
}

.yt-official-artist-badge {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/official_artist_badge.svg");
}

.yt-offline-cloud {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_cloud.svg");
}

.yt-offline-downloading-eighty {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_downloading_eighty.svg");
}

.yt-offline-downloading-forty {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_downloading_forty.svg");
}

.yt-offline-downloading-sixty {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_downloading_sixty.svg");
}

.yt-offline-downloading-spinner {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_downloading_spinner.svg");
}

.yt-offline-downloading-twenty {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_downloading_twenty.svg");
}

.yt-offline-downloading-zero {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_downloading_zero.svg");
}

.yt-offline-pin {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/offline_pin.svg");
}

.yt-open-in-new {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/open_in_new.svg");
}

.yt-open-with {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/open_with.svg");
}

.yt-paid {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/paid.svg");
}

.yt-people {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/people.svg");
}

.yt-person-add {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/person_add.svg");
}

.yt-person {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/person.svg");
}

.yt-phone-download {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/phone_download.svg");
}

.yt-phone {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/phone.svg");
}

.yt-play-all {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/play_all.svg");
}

.yt-play-arrow {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/play_arrow.svg");
}

.yt-play-disabled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/play_disabled.svg");
}

.yt-play-next {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/play_next.svg");
}

.yt-playlist-add-check {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/playlist_add_check.svg");
}

.yt-playlist-add {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/playlist_add.svg");
}

.yt-playlists {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/playlists.svg");
}

.yt-policy {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/policy.svg");
}

.yt-poll {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/poll.svg");
}

.yt-premium {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/premium.svg");
}

.yt-privacy-info {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/privacy_info.svg");
}

.yt-privacy-private {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/privacy_private.svg");
}

.yt-privacy-public {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/privacy_public.svg");
}

.yt-privacy-unlisted {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/privacy_unlisted.svg");
}

.yt-prompted-sign-in {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/prompted_sign_in.svg");
}

.yt-purchase-sponsorship {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/purchase_sponsorship.svg");
}

.yt-purchase-super-chat {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/purchase_super_chat.svg");
}

.yt-purchase-super-sticker {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/purchase_super_sticker.svg");
}

.yt-purchases {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/purchases.svg");
}

.yt-question-answer {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/question_answer.svg");
}

.yt-radio-button-unchecked {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/radio-button-unchecked.svg");
}

.yt-refresh {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/refresh.svg");
}

.yt-remove_circle_outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/remove_circle_outline.svg");
}

.yt-remove-circle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/remove_circle.svg");
}

.yt-remove-done {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/remove_done.svg");
}

.yt-remove-moderator {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/remove_moderator.svg");
}

.yt-remove-circle-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/remove-circle-outline.svg");
}

.yt-remove {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/remove.svg");
}

.yt-replay {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/replay.svg");
}

.yt-report-problem {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/report_problem.svg");
}

.yt-report {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/report.svg");
}

.yt-sad {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sad.svg");
}

.yt-scatterplot {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/scatterplot.svg");
}

.yt-schedule {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/schedule.svg");
}

.yt-search {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/search.svg");
}

.yt-send {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/send.svg");
}

.yt-service-toolbox {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/service_toolbox.svg");
}

.yt-settings-applications {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/settings_applications.svg");
}

.yt-settings-material {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/settings_material.svg");
}

.yt-settings {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/settings.svg");
}

.yt-share-arrow {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/share_arrow.svg");
}

.yt-share {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/share.svg");
}

.yt-shield-with-avatar {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/shield_with_avatar.svg");
}

.yt-shield {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/shield.svg");
}

.yt-shuffle {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/shuffle.svg");
}

.yt-skip-next {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/skip_next.svg");
}

.yt-skip-previous {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/skip_previous.svg");
}

.yt-slow-mode-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/slow_mode_off.svg");
}

.yt-slow-mode {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/slow_mode.svg");
}

.yt-sms {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sms.svg");
}

.yt-sort {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sort.svg");
}

.yt-sponsorship-star {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sponsorship_star.svg");
}

.yt-sponsorships-no-bg {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sponsorships_no_bg.svg");
}

.yt-sponsorships {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sponsorships.svg");
}

.yt-star-border {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/star_border.svg");
}

.yt-star-half {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/star_half.svg");
}

.yt-star {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/star.svg");
}

.yt-stars {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/stars.svg");
}

.yt-sticker-emoticon {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/sticker_emoticon.svg");
}

.yt-subdirectory-arrow-right {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/subdirectory_arrow_right.svg");
}

.yt-subscribe {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/subscribe.svg");
}

.yt-subscription-manager {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/subscription_manager.svg");
}

.yt-subscriptions {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/subscriptions.svg");
}

.yt-subtitles {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/subtitles.svg");
}

.yt-super-chat-for-good {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/super_chat_for_good.svg");
}

.yt-supervisor-account {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/supervisor_account.svg");
}

.yt-switch-accounts {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/switch_accounts.svg");
}

.yt-tab-account {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_account.svg");
}

.yt-tab-explore {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_explore.svg");
}

.yt-tab-home {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_home.svg");
}

.yt-tab-subscriptions {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_subscriptions.svg");
}

.yt-tab-trending {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_trending.svg");
}

.yt-trailer {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/trailer.svg");
}

.yt-translate {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/translate.svg");
}

.yt-trending-up {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/trending_up.svg");
}

.yt-trending {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/trending.svg");
}

.yt-tune {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tune.svg");
}

.yt-tv {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tv.svg");
}

.yt-unlimited {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/unlimited.svg");
}

.yt-unplugged-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/unplugged_logo.svg");
}

.yt-up-arrow {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/up_arrow.svg");
}

.yt-upload {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/upload.svg");
}

.yt-uploads {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/uploads.svg");
}

.yt-verified-user {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/verified_user.svg");
}

.yt-vertical-align-bottom {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/vertical_align_bottom.svg");
}

.yt-vertical-align-top {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/vertical_align_top.svg");
}

.yt-very-happy {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/very_happy.svg");
}

.yt-very-sad {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/very_sad.svg");
}

.yt-video-call {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/video_call.svg");
}

.yt-video-camera-disabled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/video_camera_disabled.svg");
}

.yt-video-camera {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/video_camera.svg");
}

.yt-video-library-white {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/video_library_white.svg");
}

.yt-video-youtube {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/video_youtube.svg");
}

.yt-videogame-asset {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/videogame_asset.svg");
}

.yt-view-list {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/view_list.svg");
}

.yt-view-module {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/view_module.svg");
}

.yt-visibility-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/visibility_off.svg");
}

.yt-visibility {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/visibility.svg");
}

.yt-volume-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/volume_off.svg");
}

.yt-volume-up {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/volume_up.svg");
}

.yt-vpn-key {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/vpn_key.svg");
}

.yt-wallpaper {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/wallpaper.svg");
}

.yt-warning {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/warning.svg");
}

.yt-watch-history {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/watch_history.svg");
}

.yt-watch-later {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/watch_later.svg");
}

.yt-watch-related-mix {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/watch_related_mix.svg");
}

.yt-what-to-watch {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/what_to_watch.svg");
}

.yt-wifi-status-bar-four {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/wifi_status_bar_four.svg");
}

.yt-wifi-status-bar-one {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/wifi_status_bar_one.svg");
}

.yt-wifi-status-bar-three {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/wifi_status_bar_three.svg");
}

.yt-wifi-status-bar-zero {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/wifi_status_bar_zero.svg");
}

.yt-work-off {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/work_off.svg");
}

.yt-youtube-ad {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_ad.svg");
}

.yt-youtube-kids-round {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_kids_round.svg");
}

.yt-youtube-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_logo.svg");
}

.yt-youtube-music-logo-short {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_music_logo_short.svg");
}

.yt-youtube-music {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_music.svg");
}

.yt-youtube-premiere-logo-short {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_premiere_logo_short.svg");
}

.yt-youtube-red-logo-short {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_red_logo_short.svg");
}

.yt-youtube-red-logo {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_red_logo.svg");
}

.yt-youtube-round {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/youtube_round.svg");
}

.yt-zoom-in-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/zoom_in-filled.svg");
}

.yt-zoom-in {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/zoom_in.svg");
}

.yt-zoom-out-filled {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/zoom_out-filled.svg");
}

.yt-zoom-out {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/zoom_out.svg");
}

.yt-home-outline {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_home.svg");
}

.yt-home {
  background-image: url("https://cdn.jsdelivr.net/gh/shiypc/yt-icons@main/yt-icons/tab_home.svg");
}
.yt-subscriptions-outline {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M4%206h16v2H4zm16%204H4c-1.1%200-2%20.9-2%202v8c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2v-8c0-1.1-.9-2-2-2zm0%2010H4v-8h16v8zm-10-7.27v6.53L16%2016z%22%2F%3E%3C%2Fsvg%3E");
}
